$("#post_comment_<%= @post_image.id %>").html('<p class="comments-count">コメント<%= @post_image.comments.count %>件</p>');
$(".comments").html("<%= j(render 'comments/comment', post_image: @post_image) %>");
$("#comment_comment").val("");