$("#post_comment_<%= @post_image.id %>").html('<p class="comments-count">コメント数:<%= @post_image.comments.count %></p>');
$(".comments").html("<%= j(render 'comments/comment', post_image: @post_image) %>");
$("#comment_comment").val("");