<table class="table">
  <tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "img/no_image.jpg") %></tr>
  <tr>
    <th>名前</th>
    <th><%= user.name %></th>
  </tr>
  <tr>
    <th>紹介文</th>
    <th><%= user.introduction %></th>
  </tr>
</table>
<div class='row mt-3'>
  <% if user.id == current_user.id %>
    <%= link_to '設定・編集',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user}" %>
  <% end %>
</div>