<div class="container" style="margin-bottom:100px;">
  <div class="row">
    <div class="mx-auto col-sm-10 mt-3 text-center">
      <h2 class="text-main">Concept</h2>
      <p class="mt-4">Trip memoryは海外旅行が好きな人が写真を共有したり<br />
    　投稿した写真をアルバムとして振り返ることのできるサイトです。</p>
      <div class="img mt-5">
    　   <%= image_tag "img/image7.jpg", size: '600x400' %>
    　</div>
    　<div class="img mt-3">
    　  <%= image_tag "img/image9.jpg", size: '600x400' %>
    　</div>
    　<div class="img mt-3">
    　  <%= image_tag "img/image8.jpg", size: '600x400' %>
    　</div>
    </div>
  </div>
</div>