/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 /*ここからヘッダーフッター*/
 header{
  background-color:#87ceeb;
 }

 footer{
  background-color:#87ceeb;
  height:50px;
  color:#ffffff;
 }
 /*ここまで*/

 /*topのボタンの位置*/
 .inner {
   display: flex;
   justify-content: space-evenly;
 }

 .text-main{
   border-top:solid 1px #000000;
   border-bottom:solid 1px #000000;
   padding-top:15px;
   padding-bottom:15px;
   width:200px;
   text-align:center;
   margin:0 auto;
   margin-top:25px;
   margin-bottom:25px;
   font-size:20px;
 }
  /*post_image index*/
 .card-block{
  display: flex;
  flex-wrap: wrap;
 }
