/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 /*ここからヘッダーフッター*/
 header{
  background-color:#87ceeb;
 }

 footer{
  background-color:#87ceeb;
  height:50px;
  color:#ffffff;
 }
 /*ここまで*/

 /*topのボタンの位置*/
 .inner {
   display: flex;
   justify-content: space-evenly;
 }
 /*基本の見出し*/
 .text-main{
   border-top:solid 1px #000000;
   border-bottom:solid 1px #000000;
   padding-top:15px;
   padding-bottom:15px;
   width:200px;
   text-align:center;
   margin:0 auto;
   margin-top:25px;
   margin-bottom:25px;
   font-size:20px;
 }
 /*tag一覧見出し*/
 .text-tag{
   border-top:solid 1px #000000;
   border-bottom:solid 1px #000000;
   padding-top:15px;
   padding-bottom:15px;
   width:90px;
   text-align:center;
   // margin:0 auto;
   margin-top:50px;
   margin-bottom:25px;
   font-size:15px;
 }
 /*tag検索の見出し*/
 .text-tag-index{
   border-top:solid 1px #000000;
   border-bottom:solid 1px #000000;
   padding-top:15px;
   padding-bottom:15px;
   width:400px;
   text-align:center;
   margin:0 auto;
   margin-bottom:25px;
   font-size:20px;
 }
  /*post_image index*/
 .card-block{
  display: flex;
  flex-wrap: wrap;
 }

 /* top 画像スライド ここから*/
 #box{
  height: 400px;
  width: 600px;
  margin:0 auto;
 }
 .image1 {
  background-image: url(image1.jpg);
 }
 .image2 {
  background-image: url(image2.jpg);
 }
 .image3 {
  background-image: url(image3.jpg);
 }
 .image4 {
  background-image: url(image4.jpg);
 }
 /* top 画像スライドここまで */


　/* いいねのハート */
.like-btn {
 color: #808080;
 }

.unlike-btn {
 color: #e54747;
 }

 body{
  // width: 100%; /* 横幅いっぱい */
  background-image: image-url('image4.jpg');
  background-color:rgba(255,255,255,0.5);
  background-blend-mode:lighten;
  background-size: cover;
  background-attachment: fixed;
 }

 body{
  font-family: 'Vollkorn', serif;
 }

 /*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}
.pagination {
  justify-content: center;
  margin-top: 50px;
 }

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

