<div class="container" style="margin-bottom:200px;">
  <div class="row">
    <div class="mx-auto col-sm-9">
      <h2 class="text-main">編集フォーム</h2>

      <%= render 'form', post_image: @post_image %>

    </div>
  </div>
</div>

