<div class="container" style="margin-bottom:200px;">
  <div class="row">
    <div class="mx-auto col-sm-9">
      <h2 class="text-main">新規投稿フォーム</h2>

      <%= render 'layouts/error', obj: @post_image %>
      <%= render 'form', post_image: @post_image %>

    </div>
  </div>
</div>
