<div class="container">
  <div class="row">
    <div class="mx-auto col-sm-10 mt-4 text-center">
      <h2 class="text-main">新規投稿フォーム</h2>

      <%= render 'form', post_image: @post_image %>

    </div>
  </div>
</div>
