<div class="container" style="margin-bottom:200px;">
  <div class="row">
    <div class="col-sm-2">
      <!--タグ一覧サイドバー-->
      <h2 class="text-tag">タグ一覧</h2>
      <% @tag_list.each do |list|%>
        <p><%= link_to list.name ,search_tag_path(tag_id: list.id), class: "text-dark" %>
        <%="(#{list.post_images.count})" %></p>
      <% end %>
    </div>
    <div class="mx-auto col-sm-10 mt-4 text-center">
      <h2 class="text-main">検索結果</h2>
        <!--存在するかどうか-->
        <% if @post_images.exists? %>
          <%= render "index", post_images: @post_images %>
        <% else %>
          <p class="mx-auto text-center">該当の投稿は見つかりませんでした</p>
        <% end %>
    </div>
  </div>
</div>