<div class="container" style="margin-bottom:200px;">
  <div class="row">
    <div class="mx-auto col-sm-10 mt-4 text-center">
      <h2 class="text-main">投稿詳細</h2>
      <%= attachment_image_tag @post_image, :image,size:'500x300' %>
    </div>
  </div>
</div>
